/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: October 5, 2022
   Description: CSS Stylesheet for Sign-up Form project.
******************************************************************************/

@font-face {
  font-family: "norse-bold";
  src: url("../fonts/Norse-Bold.otf") format("opentype");
}

body { 
  display: flex;
  flex-direction: column;
}

/* Left side of page. */
.left-section{
  background-image: url("../images/car.png");
  background-size: cover;
  flex-basis: 35%;

}

/* Styling for div that contains logo and text. */
.left-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Styling for logo image. */
img {
  height: 100px;
  margin: 0;
}

/* Text on left side of page. */
h1 {
  font-family: "norse-bold", sans-serif;
  color: red
}

/* Right section that contains form, button, and description. */
.right-section{
  background-color: lightgray;
  flex-basis: 65%;
}

/* Top most section of right side with description. */
.right-section-header {
  font-family: "norse-bold", sans-serif;
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Styling for area that contains main form and bottons. */
.right-section-main {
  background-color: #ffffff;
  padding-top: 30px;
}

.msg {
  padding-left: 40px;
}
/* Styling for sign-up form. */
.sign-up-form {
  width: 100%;

}

.form-row {
  padding-left: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 10px;
}

/* Styling for inputs. */
.form-field input[type='text'],
.form-field input[type='email'],
.form-field input[type='tel']  {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 10px;
}

.form-field input[type='text']:invalid,
.form-field input[type='email']:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none;   /* Remove default red glow in Firefox. */
}

.form-field label {
  margin-bottom: 15px;
  text-align: left;
}

/* Styling for button and other information. */
.right-section-footer {
  background-color: lightgray;
  padding: 40px;
}

/* Styling for buttons. */
.right-section-footer button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.right-section-footer button:hover {
  background-color: #76AEED;
}

.right-section-footer button:active {
  background-color: #407FC7;
}

@media only screen and (min-width: 700px) {
  body {
    flex-direction: row;
  }
  .left-section-content {
    margin-top: 200px;
  }
  .form-row {
    flex-direction: row;
    align-items: flex-start; /* To avoid stretching */
    margin-bottom: 10px;
    column-gap: 20px;
  }
  .form-field {
    align-items: flex-start;
  }
  .form-field input[type='text'],
  .form-field input[type='email'],
  .form-field input[type='tel'] {
    width: 200px;
    height: initial;
  }
  .form-field label {
    text-align: left;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
}