/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: October 5, 2022
   Description: CSS Stylesheet for Sign-up Form project.
******************************************************************************/

@font-face {
  font-family: "norse-bold";
  src: url("../fonts/Norse-Bold.otf") format("opentype");
}

body { 
  display: flex;
  flex-direction: column;
}

.left-section{
  background-image: url("../images/car.png");
  background-size: cover;
  flex-basis: 35%;
}

h1 {
  font-family: "norse-bold", sans-serif;
}

.right-section{

}

@media only screen and (min-width: 700px) {
  body {
    flex-direction: row;
  }
}